#
# BLE config
#
CONFIG_BT_ENABLED=n
CONFIG_APP_CLAW_LUA_MODULE_BLE_HID=n

#
# PSRAM config (来自 boards/waveshare/waveshare_esp32_p4_wifi6/sdkconfig.defaults.board)
#
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=0
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y

#
# DNS fallback (ilinkai.weixin.qq.com needs Chinese DNS)
#
CONFIG_LWIP_FALLBACK_DNS_SERVER_SUPPORT=y
CONFIG_LWIP_FALLBACK_DNS_SERVER_ADDRESS="114.114.114.114"
