CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y

#
# Board Manager Peripheral Support
#
CONFIG_ESP_BOARD_PERIPH_GPIO_SUPPORT=y
CONFIG_ESP_BOARD_PERIPH_I2C_SUPPORT=y
CONFIG_ESP_BOARD_PERIPH_I2S_SUPPORT=y
CONFIG_ESP_BOARD_PERIPH_DSI_SUPPORT=y
CONFIG_ESP_BOARD_PERIPH_LDO_SUPPORT=y
CONFIG_ESP_BOARD_PERIPH_LEDC_SUPPORT=y

#
# Board Manager Device Support
#
CONFIG_ESP_BOARD_DEV_AUDIO_CODEC_SUPPORT=y
CONFIG_ESP_BOARD_DEV_CAMERA_SUPPORT=y
CONFIG_ESP_BOARD_DEV_FS_FAT_SUPPORT=y

#
# Camera Sensor Configuration — OV5647
#
CONFIG_CAMERA_OV5647=y
CONFIG_CAMERA_OV5647_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y
CONFIG_CAMERA_OV5647_MIPI_RAW8_1280X720_30FPS=y
CONFIG_ESP_VIDEO_ENABLE_ISP_PIPELINE_CONTROLLER=y

#
# ESP32-P4 Chip Revision
#
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y

#
# Audio Configuration for ES8311 codec
#
CONFIG_ESP_CODEC_DEV_ES8311_USE_DEFAULT_CALIB_IN_FLASH=y

#
# WiFi Remote (esp_wifi_remote) config for ESP32C6 slave
#
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_HOSTED_CP_TARGET_ESP32C6=y
CONFIG_ESP_HOSTED_IDF_SLAVE_TARGET="esp32c6"
